<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Person Data</title>
</head>
<body>
    <h1>Stored Person Data</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile Number</th>
                <th>Address</th>
                <th>Image_path</th>
            </tr>
        </thead>
        <tbody>
        {% for person in persons %}
        <tr>
            <td>{{ person.name }}</td>
            <td>{{ person.email }}</td>
            <td>{{person.mobile_number}}</td>
            <td>{{person.address}}</td>
            <td>{{ person.image.path }}"</td>
               
                
           
        </tr>
           
        {% endfor %}
    </ul>
    <a href="{% url 'add_person' %}">Add a new person</a>
</body>
</html>